body {
    border-style: solid;
    background-color: #E5E7E6;
    width: 960px;
    margin: 8px auto;
    text-align: center;
    line-height: 1.6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-border-radius: 40px 40px 25px 25px;
    -moz-border-radius: 40px 40px 25px 25px;
    border-radius: 40px 40px 25px 25px;
}

header {
    padding-top: 10px;
}

footer {
    background-color: #93441A;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}

body section {
    border-style: solid;
    border-width: 1px;
    background-color: #EEE6D8;
}

.auteur,
.date {
    color: grey;
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1;
}

.box {
    margin-top: -10px;
    background-color: #DAAB3A;
    display: flex;
    flex-direction: column;
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info {
    background-color: #DAAB3A;
    width: 800px;
    border-radius: 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-style: solid;
    margin: 10px auto;
    padding: 10px 20px;
    border-width: 1px;
}

#info h2 {
    margin-bottom: -30px;
}

#info br {
    text-align: left;
}

.container {
    overflow: hidden;
    background-color: #DAAB3A;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    border-radius: 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-style: solid;
    margin: 10px auto;
    padding: 10px 20px;
    border-width: 1px;
}